{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body
{

	overflow-x: hidden;
	background color: whitesmoke;
}
.export_bills
{
	  width:790px;
      text-align:left;
      margin-right:auto;
	  margin-left:-20px;
	  margin-top:0px;
      background-color: yellowgreen;
      padding:20px;
      border-color: blue;
	  height: 800px;
	  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	  text-align: left;
}
h1
{
	color: blue;
	text-align: left;
	font-family: sans-serif;
	text-shadow: blue;
	text-decoration: blink;
}
h2
{
	color: Blue;
	text-align: left;
	font-family: sans-serif;
	font-size: 25px;
}
h3
{
	color: Black;
	text-align: left;
	font-family: sans-serif;
	font-size: 17px;
}
.hr
{
	color: red;
}
.merchant
{

    width: 100%;
	height: 1000000%;
	border: 5px;
	border-color: red;
	background-color: lightgreen;
	margin: 10px 0px 15px 0px;
	box-shadow: 1px 1px 2px 1px blue;
}
.details
{
    width: 100%;
	height: 5%;
	border: 5px;
	border-color: red;
	background-color:lightgreen;
	padding: 8px 15px 8px 15px;
	margin: 10px 0px 15px 0px;
	box-shadow: 1px 1px 2px 1px blue;
}
.total_dues
{
	width: 90%;
	height: 2%;
	border: 10px;
	border-color: red;
	background-color: antiquewhite;
	padding: 8px 15px 8px 15px;
	margin: 10px 0px 15px 0px;
	box-shadow: 1px 1px 2px 1px blue;

}
label
{
	color: darkblue;
	font-size: 18px;
}
input  {

	width: 25%;
	height: 5%;
	border: 1px;
	border-radius: 5px;
	padding: 8px 15px 8px 15px;
	margin: 10px 0px 15px 0px;
	box-shadow: 1px 1px 2px 1px blue;
	outline: hidden;
}

.bills
{
	width: 90%;
	height: 5%;
	border: 5px;
	border-color: red;
	background-color:lightgreen;
	padding: 8px 15px 8px 15px;
	margin: 10px 0px 15px 0px;
	box-shadow: 1px 1px 2px 1px blue;
}