* {
	margin: 0px;
	padding: 0px;
}
body
{
	font-size: 120%;
	background: #F8F8FF;
	overflow-x: hidden;
	background-image: url(custoback.JPG);
	background-size: auto;
} 
.sign-up-form
{

padding-top: 0px;
width: 400px;;
box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
background: white;
padding: 20px;
text-align: center;
margin-right:auto;
margin-left:auto;
margin-top:0px;
border-color: blue;
}

.header {
	width: 80%;
	margin: 50px auto 0px;
	color: white;
	background: blue;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 20px;
	padding: 20px;
}
h3
{
	font-family: sans-serif;
	font-size: 12;
}
form{
	width: 80%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border -radius: 0px 0px 10px 10px;
}
.input -group 
{
	margin: 10px 0px 10px 0px;
}
.input-group label{
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input
{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn
{
	padding: 10px;
	font-size: 15px;
	color: white;
	background: green;
	border: none;
	border-radius: 5px;
}

.error
{
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid red;
	color: red;
	background: #f2dede;
	border - radius: 5px;
	text-align: left;
}
img
{
	width: 80px;
}